nav {
  margin-right: 10px;
  margin-left: 10px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
h1 {
  margin-right: auto;
}
button {
  border: none;
  background-color: inherit;
}
.Header {
  background-color: white;
}
