.Search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

form {
  margin-right: auto;
}

input {
  background: url("./images/search.svg") no-repeat scroll;
  background-size: contain;
  padding-left: 30px;
  background-color: white;
  margin-left: 20px;
}
